@use 'modern-normalize/modern-normalize.css'; // instead of 'normalize'
@use 'fonts';
@use 'layouts';

@use 'variables' as *;
@use 'functions' as *;
@use 'mixins' as *;

* {
  color: $primary;
  font-family: 'Oswald', sans-serif;
  font-size: linearClump(1, 2);
}